DJANGO_SECRET_KEY=change-this-in-production
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

RAZORPAY_KEY_ID=rzp_test_xxxxxxxxxx
RAZORPAY_KEY_SECRET=xxxxxxxxxx
RAZORPAY_WEBHOOK_SECRET=xxxxxxxxxx

CORS_ALLOWED_ORIGINS=http://localhost:5173

SENDGRID_API_KEY=SG.xxxxxxxxxx
SENDGRID_FROM_EMAIL=verified-sender@your-domain.com
AGREEMENT_COMPANY_EMAIL=hello@your-domain.com
SENDGRID_VERIFY_SSL=true
